<!-- Welcome Section -->
   <!-- Content Heading -->
   <% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
<section>
<main>
    <p>Explore our lineup of Trucks for rugged and family-friendly options.</p>
</main>

</section>

<script src="script.js"></script>
